/* Google Fonts */

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

html {
    min-height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    height: calc(100vh - 8em);
    color: rgba(255, 255, 255, .75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25);
}

.line-1 {
    font-size: 180%;
    text-align: center;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .75);
    font-family: 'Anonymous Pro', monospace;
}


/* Animation */

.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 96vh;
}

.spacing {
    width: 100vw;
    background-color: black;
    height: 56px;
}

.flex-container-nofixed {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.center-horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}